@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bricolage+Grotesque:wght@400;600;700&display=swap');
@import 'tailwindcss';

@font-face {
	font-family: 'Grotesqon';
	src: url('$lib/fonts/Grotesqon.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-cook: 'Grotesqon', sans-serif;
	--font-bricolage: 'Bricolage Grotesque', sans-serif;
}

.font-cook {
	font-synthesis: none;
}